<!-- Global site tag (gtag.js) - Google Ads: 10846055134 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10846055134"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-10846055134');
</script>

<script>
  window.addEventListener('load',function(){
   document.querySelectorAll('[href="mailto:eecs.tutor0@gmail.com"]').forEach(function(a){
      a.onclick = function(){
        gtag('event', 'conversion', {'send_to': 'AW-10846055134/WmKmCP6RiNkDEN7V5rMo'});
      }
    })
    document.querySelectorAll('[href*="https://forms.gle/"]').forEach(function(forms){
      forms.onclick = function(){
        gtag('event', 'conversion', {'send_to': 'AW-10846055134/RgVhCIGSiNkDEN7V5rMo'});
      }
    })
    document.querySelectorAll('[href*="https://twitter.com"]').forEach(function(twitter){
      twitter.onclick = function(){
        gtag('event', 'conversion', {'send_to': 'AW-10846055134/m_O6CISSiNkDEN7V5rMo'});
      }
    })
  })
</script>

<!-- Event snippet for Website visit conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-10846055134/kPgrCKDMiNkDEN7V5rMo'});
</script>
